@charset "utf-8";


/* main
--------------------------------------------------------------------------------*/
main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
        
}
.mainTent{
    width: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.8rem solid #8c8965;
    background-color: #6b694d;
    position: relative;
    overflow: hidden;
}

/* svg 動態 */
polyline, use{
	stroke: #ffffff;
	stroke-width: 0.28rem;
    stroke-dasharray: 1500;
	stroke-dashoffset: -1500;
	-webkit-transition: all 2s ease 1s;
	transition: all 2s ease 1s;
	fill: none;
}
polyline.show, use.show{
    stroke-dashoffset: 0;
}

/***** layer **********************************************************/
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
}
.layer > *{ position: absolute;}
.logoBox{
    width: 7.2rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    padding-left: 1.2rem;
}
.logoCube{
    width: 6.9rem;
    top: 49.5%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    padding-right: 4.5rem;
}
.bigSlash{
    width: 2.9rem; height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 4.1rem;
    left: 61%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: (0,0);
    transform-origin: (0,0);
}
.yellowCir{
    width: 6.7rem; height: 6.7rem;
    background-color: #f8b62d;
    border-radius: 50%;
    top: 0.9rem;
    left: 55%;
}
.stripeCir{
    width: 4.1rem;
    top: 4.76rem;
    left: 66%;
}
.plus01{
    font-size: 1rem; line-height: 1;
    font-weight: bold;
    color: #403800;
    top: 3.4rem;
    right: 17%;
}
.yellowBord{
    border: 0.3rem solid #f8b62d;
    width: 1.16rem; height: 1.16rem;
    border-radius: 50%;
    background-color: #fce2ab;
    bottom: 2.2rem;
    right: 70%;
}
.waveLine{
    width: 2.9rem;
    bottom: 2.8rem;
    right: calc(70% + 1rem);
}
.txtCss{
    font-size: 0.36rem; line-height: 1;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #faf7be;
    top: 23%;
    left: 11.9%;
}
.txtCss:before{
    content: ''; display: block;
    width: 0; height: 0;
    border-top: 0.6rem solid #faf7be;
    border-right: 0.4rem solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 0.4rem solid transparent;
    position: absolute;
    left: -0.2em;
    bottom: calc(100% + 0.2rem);
}
.dots{ height: 0;}
.dots:before, .dots:after{
    content: ''; display: block;
    width: 0.2rem; height: 0.2rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
}
.dt01{
    width: 0.6rem;
/*    height: 1px; background-color: #000000;*/
    left: 11.9%;
    top: 36.6%;
}
.dots.dt01:before{
    top: -0.44rem;
    left: calc(50% - 0.1rem);
}
.dots.dt01:after{
    bottom: -0.8rem;
    left: calc(50% - 0.1rem);
}
.halfCir{
    width: 0.8rem;
    left: 5%;
    bottom: 30.6%;
}
.halfCir:before{
    content: '////'; display: block;
    font-size: 0.7rem; line-height: 1;
    color: #e73979;
    letter-spacing: 0.1em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.plus02{
    font-size: 2.5rem; line-height: 0.5;
    font-weight: bold;
    color: #231815;
    bottom: 30.6%;
    left: 12%;
}
.year2019{
    font-size: 0.46rem; line-height: 1;
    letter-spacing: 0.1em;
    font-weight: bold; color: #ffffff;
    text-decoration: underline;
    right: 12.25%;
    bottom: 20.38%;
}
.yearCir{
    width: 1.4rem; height: 1.4rem;
    border: 2px solid #faf7be;
    border-radius: 50%;
    position: absolute;
    bottom: 20.38%;
    right: 12.25%;
    -webkit-transform: translate(-24%, 30%);
    transform: translate(-24%, 30%);
}
.angleLine{
    width: 0.42rem;
    right: calc(12.25% + 2.5rem);
    bottom: 22.69%;
}
.dt02{
    width: 0;
    right: calc(12.25% + 4.5rem);
    bottom: 19.5%;
}
.dots.dt02:before{
    top: 0;
    left: 0.4rem;
    width: 0.15rem; height: 0.15rem;
}
.dots.dt02:after{
    top: 0;
    right: 0.4rem;
    width: 0.15rem; height: 0.15rem;
}
.txtDreamwaver{
    font-size: 0.24rem; line-height: 1;
    color: #f8b62d;
    bottom: 60%;
    right: 5.8%;
}
.txtDreamwaver:before, .txtDreamwaver:after{
    content: ''; display: block;
    width: 0.18rem; height: 0.18rem;
    border-radius: 50%;
    background-color: #bab6c5;
    position: absolute;
    bottom: calc(100% + 1.2em);    
}
.txtDreamwaver:before{ left: 0.1em;}
.txtDreamwaver:after{ right: 0.1em;}
.stripeBord{
    width: 3.8rem;
    left: 38%;
    bottom: 0;
    -webkit-transform: translateY(45%);
    transform: translateY(45%);
}
.dotCube01{
    width: 3.06rem;
    left: 20%;
    top: 0;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
}
.dotCube01:before, .dotCube01:after{
    display: block;
    font-size: 0.52rem; line-height: 1;
    font-weight: bold;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: rgba(255,255,255,0.5);
    position: absolute;    
    left: 105%;
}
.dotCube01:before{
    content: 'TML';
    bottom: -0.1em;
}
.dotCube01:after{
    content: 'H';
    bottom: 3em;
}
.dotCube02{
    width: 7.9rem;
    bottom: -1.3rem;
    right: -1rem;
}












