/* media
----------------------------------------------------------------------------*/
/* 各解析度原始單位 */

@media screen and (max-width: 1160px) {
}
@media screen and (max-width: 1080px) {
    
}
@media screen and (max-width: 1024px) {
/*	.tltBox{ width: 55%;}*/
}
@media screen and (max-width: 900px) {
	.flowerBox{ top: 0.5rem;}
	#slider{ margin-top: 0.3rem;}
	.kv .container{ padding-bottom: 2rem;}
}
@media screen and (max-width: 830px) {
	.sec_03 .container h4{ padding-bottom: 1em;}
	.sec_03 .pBox{ margin-bottom: 0.5rem;}
}
@media screen and (max-width: 768px) {
    .pc{ display: none;}
    .mobile{ display: block;}
    .headLine{ position: absolute; left: 20px; bottom: 0; height: 1px; width: calc(100% - 40px); background-color: #000000;}
    
    /* kv */
	.kv .container{ margin-top: 0.6rem; padding-bottom: 0.8rem;}
	.flowerBox{ position: relative; top: 0; bottom: 0; left: 0; width: auto; margin: 0 auto 0.8rem auto;}
	.tltBox{ width: auto; padding-top: 0.3rem;}
	.kv h2{
		font-size: 0.44rem; line-height: 1.55;
		padding-bottom: 0.5em;
		max-width: none;
		letter-spacing: 0.025em;
	}
	.kv h2:after{ width: 100%; max-width: none;}
	.kv p.kvTxt{
		margin-top: 0.3rem; width: auto; font-size: 0.3rem;
		max-width: none;
	}
	.kvImg{
		max-width: 575px; width: 100%;
		position: relative; top: 0; right: 0; left: 0;
		margin: auto;
	}
	
	/* mainkv */
	h4{
		font-size: 0.36rem; line-height: 1; text-align: left;
		padding-top: 0.8rem; padding-bottom: 0.8rem;
	}

    /* sec_01 */
	.sec_01 .container{ padding-bottom: 0.4rem;}
	.sec_01 .container .flexBox{ display: block;}
	.iconBox{
		max-width: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-bottom: 0.9rem;
	}
	.iconImg{
		width: 27%; max-width: 150px;
		padding: 0.15rem;
		margin: 0 0.3rem 0 0;
	}
	.iconBox p{
		font-size: 0.3rem; text-align: left;
		max-width: none;
		margin: 0;
	}
	.sec_01 .iconBox.ib03  p{ max-width: none;}
	.iconBox p.bold{
		font-size: 0.3rem; line-height: 2;
		padding-top: 0rem; padding-bottom: 0.1rem;
		margin-top: -0.5em;
	}
	.pBox{ width: calc(73% - 0.3rem);}
	.sec_01 .iconImg{ height: 2.4rem;}
	.sec_01 .iconBox.ib02 .iconImg{ padding: 0.4rem;}
	.sec_01 .iconBox.ib03 .iconImg{ padding: 0.3rem 0.4rem;}
	
	
	
	 /* sec_02 */
	.sec_02 .container{ padding-bottom: 0.2rem;}
	.sec_02 .container .flexBox{ display: block;}
	.sec_02 .iconBox{ max-width: none;}
	.sec_02 .iconImg{ padding: 0;}
	.sec_02 .iconBox p{ max-width: none;}
	


    /* sec_03 */
	.sec_03 .container{
		font-size: 0.3rem;
		display: block;
	}
	.sec_03 .container h4{ text-align: left; padding-top: 0; line-height: 1.5;}
	.sec03Img.mobile{
		max-width: 808px;
		width: 100%;
		margin-bottom: 0.6rem;
	}
	.sec03Txt{
		max-width: none; width: auto;
		padding-right: 0;
	}
	.sec_03 .pBox{ margin-bottom: 1.5em; width: auto;}
	.sec_03 p.bold{ font-size: 0.3rem; line-height: 2;}
	

	
	/* sec_04 */
	.sec_04{ padding-top: 0.7rem; padding-bottom: 0.5rem;}
	.sec_04 h4{ text-align: left; line-height: 1; padding: 0 0 0 0;}
	.sec_04 > .flexBox{ display: block;}
	.l_b{ width: auto; margin-bottom: 0.7rem}
	.r_b{ width: auto; padding: 0 20px;}
	.r_b .flexBox{
		font-size: 0.3rem;		
		margin-top: 0.5rem;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
		padding-left: 0rem;
		padding-right: 0rem;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.r_b .flexBox:hover{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.rbImg{ width: 27%; margin-right: 0;}
	.rbTxt{ width: 73%; font-size: 0.3rem; padding-left: 1em; -webkit-box-sizing: border-box; box-sizing: border-box;}
	.rbTxt p{ max-width: none;}
	.rbTxt p.bold{ font-size: 0.3rem; line-height: 2; margin-top: -0.5em;}
	
	
	/* sec_05 */
	.sec_05 .container{ padding-bottom: 0rem;}
	.sec_05 .container .flexBox{ display: block;}
	.sec_05 .iconBox{ max-width: none;}
	.sec_05 .iconImg{ padding: 0;}
	.sec_05 .iconBox p{ max-width: none;}


	/* sec_06 */
	.sec_06{
		font-size: 0.3rem; letter-spacing: 0;
	}
	.sec_06 h4{ padding-top: 0.8rem;}
	.sec_06 .content{padding-bottom: 1.8rem;}
	.sec_06 .flexBox{
		margin-bottom: 1rem;
		display: block;
		margin-top: 1.5rem
	}
	.sec_06 p.bold{ font-size: 0.3rem; line-height: 2;}
	.sec_06 p.ss{ font-size: 0.26rem; line-height: 1;}
	.sec_06 .imgBox{
		width: auto; margin-left: 0; margin-right: 0;
/*		display: block;*/
		height: auto;
		padding-bottom: 0.8rem;
	}
	.sec_06 .fxBx03 .imgBox{ padding-bottom: 0.3rem;}
	.sec_06 .flexBox:hover .imgBox{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.sec_06 .txtBox{ width: auto;}
	
/*	.sec_06 .imgBox img{ margin: auto;}*/
	
	.fxBx01 img{ max-width: 442px; width: 80%;}
	.fxBx02 img{ max-width: 150px; width: 80%;}
	.fxBx03 img{ max-width: 540px; width: 80%;}
	
}
@media screen and (max-width: 480px) {
	.sec_01 .iconImg{ height: auto;}
	.sec_01 .iconBox.ib01 .iconImg{ padding: 0;}
	.sec_01 .iconBox.ib02 .iconImg{ padding: 0;}
	.sec_01 .iconBox.ib03 .iconImg{ padding: 0;}
	.sec_01 .iconBox .iconImg img{ width: 80%; margin: 0.2rem auto 0 auto; padding-bottom: 0.2rem;}
	.sec_01 .iconBox.ib02 .iconImg img{ width: 70%; margin: 0.2rem auto 0 auto;}
	.sec_01 .iconBox.ib03 .iconImg img{ width: 65%; margin: 0.2rem auto 0 auto;}
}
@media screen and (max-width: 400px) {
	h4{ line-height: 1.5;}
}
@media screen and (max-width: 370px) {
	.kv h2{ letter-spacing: -0.01em; font-size: 0.4rem;}
}
@media screen and (max-width: 330px) {
	.kv h2{ font-size: 0.38rem;}
}
@media screen and (max-width: 320px) {
}