@charset "utf-8";

section .container{ height: auto;}
#default{ overflow: hidden;}

/* main
-------------------------------------------------------------------------------*/
h2{
	font-size: 1.04rem; line-height: 1.3;
	font-weight: 400; letter-spacing: 0.025em;
	margin-top: 2.6rem; margin-bottom: 0.85rem;
}
	

	/* sec_01 */
.sec_01{
	position: relative;
	background-image: url(../images/default_sec01BG.png);
	background-repeat: repeat-x;
	background-position: center;
	background-size: auto 100%;
}
.sec_01 .container{}
.sec01_Box{
	height: 15rem;
	background-image: url(../images/default_sec01Img.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	padding-top: 1px;
	position: relative;
}
.sec_01 .txtBox{
	width: 6rem;
	margin: 0 3.4rem 0 auto;
}
.knowMore{
	font-size: 0.52rem; line-height: 1;
	letter-spacing: 0.025em;
}
.knowMore a{
	color: #00519e;
	text-decoration: none;
	width: 6em;
	position: relative;
}
.knowMore a:before{
	content: ''; display: block;
	width: 0; height: 1px;
	background-color: #00519e;
	position: absolute;
	bottom: -2px; left: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.knowMore a:hover:before{ width: 5em;}


	/* sec_03 */
.sec_03{ position: relative;}
.sec03_Box{
	height: 15rem;
	background-image: url(../images/default_sectionImg02.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	padding-top: 1px;
	position: relative;
}
.sec_03 .txtBox{ padding-left: 0.8rem;}
.bgBox{
	position: absolute; top: 0; width: 50%; height: 100%;
	background-repeat: repeat-x;
	background-position: center;
	background-size: auto 100%;
}
.r_box{ right: 0; background-image: url(../images/default_sec02Rbg.png);}
.l_box{ left: 0; background-image: url(../images/default_sec02Lbg.png);}



	/* sec_02 */
.sec_02{
	overflow: hidden;
	position: relative;
	background-image: url(../images/default_sec02BG.png);
	background-repeat: repeat-x;
	background-position: center;
	background-size: auto 100%;
}
.sec_02 .container{ height: 15rem; padding-top: 1px; position: relative;}
.sec_02 .txtBox{ padding-left: calc(100% - 13.2rem); width: 14.2rem;}
.sec_02 h2{ margin-top: 2.1rem;}
.sec02BR{ display: none;}

	/* surB2_Img */
.surB2_Img{ position: absolute;}
.surImg01{
	width: 20.5rem; max-width: 1025px;
	bottom: 0;
	right: 26.5%;
}
.img01{
	position: absolute; bottom: 59.9%; left: 16.2%;
	width: 44.585%; max-width: 457px;
}
.img02{ position: absolute; top: 0; left: 0; width: 100%;}
.surImg02{
	width: 13.2rem; max-width: 659px;
	bottom: 0;
	left: 56%;
}

	
	/* sec_04 */
.sec_04{	
	position: relative;
	background-image: url(../images/default_sec04BG.png);
	background-repeat: repeat-x;
	background-position: center;
	background-size: auto 100%;
	overflow: hidden;
}
.sec_04 .container{ position: relative; height: 15rem; padding-top: 1px;}
.sec_04 h2{ margin-top: 2.7rem;}
.sec_04 .txtBox{ padding-left: 0.8rem;}
.sec04ImgBox{
	width: 17.1rem; max-width: 855px;
	position: absolute;
	bottom: 1rem; right: 0.8rem;
}


	/* sec_05 */
.sec_05{	
	position: relative;
	background-image: url(../images/default_sec04BG.png);
	background-repeat: repeat-x;
	background-position: center;
	background-size: auto 100%;
	overflow: hidden;
}
.sec_05 .container{ position: relative; height: 16rem; padding-top: 1px;}
.sec_05 h2{ margin-top: 2.7rem;}
.sec_05 .txtBox{
	padding-left: calc(100% - 9.5rem); width: 9.6rem;
	position: relative;
	z-index: 10;
}
.sec05ImgBox{
	width: 16.2rem; max-width: 810px;
	position: absolute;
	bottom: 1.6rem; left: 0.9rem;
}


/**** 錨點 ********************************/
.defaultAnchor{
	position: fixed;
	top: 50%; right: 0;
	text-align: right;
	font-size: 0.32rem; line-height: 2.25;
	letter-spacing: 0.025em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 999;
}
.defaultAnchor a{
	color: #c4c4c4;
}
.defaultAnchor a.active, .defaultAnchor a:hover{
	color: #000000;
}
.defaultAnchor li a:after{
	content: '●'; display: inline-block;
	border-radius: 50%;
	margin-left: 0.6em;
	margin-right: 0.8em;
}
.defaultAnchor li.active a{
	color: #000000;
/*	font-weight: 600;*/
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
/*	text-shadow: none;*/
}






























