/* media
----------------------------------------------------------------------------*/
/* 各解析度原始單位 */
@media screen and (max-width: 1280px) {
	.sec_02 .txtBox{ padding-left: calc(100% - 14.5rem);}
	.surImg01{ width: 18rem; right: 35%;}
	.surImg02{
		width: 12rem;
		left: 50%;
	}
}
@media screen and (max-width: 1080px) {
	.sec_04{ background-position: top left 40%;}
}
@media screen and (max-width: 1024px) {
	.surImg02{ display: none;}
	.surImg01{ width: 18rem; right: 25%;}
	.sec_02 .txtBox{
		padding-left: 0;
		width: 10.3em;
		margin-left: auto; margin-right: 0;
	}
	.sec02BR{ display: inherit;}
	.sec_05 .txtBox{
		width: 8rem; padding-left: 0;
		margin-left: auto; margin-right: 0;
	}
}
@media screen and (max-width: 980px) {
	.sec01_Box{
		background-position: center left 30%;
	}
	.sec04ImgBox{
		right: auto; bottom: 0.5rem;
		left: 16.5%;
	}
	.sec05ImgBox{
		left: auto;
		right: 18%
	}
}
@media screen and (max-width: 880px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 768px) {
    .pc{ display: none;}
    .mobile{ display: block;}
	
	
	/* main
	-------------------------------------------------------------------------------*/
	h2{
		font-size: 0.52rem;
		margin-top: 0.8rem;
		margin-bottom: 0.3rem;
	}
	
	/* sec_01 */
	.sec_01{ height: 7.4rem;}
	.sec_01 .txtBox{ padding-left: 44.5%;}
	.sec01_Box{ height: 7.4rem;}
	.knowMore{ font-size: 0.36rem;}
	
	
	/* sec_03 */
	.sec03_Box{
		height: 7.4rem;
		background-size: auto 100%;
	}
	.sec_03 .txtBox{ padding-left: 0;}
	
	
	
	/* sec_02 */
	.sec_02 .container{ height: auto; padding-bottom: 0.4rem;}
	.sec_02 .txtBox{ width: auto}
	.sec_02 h2{ margin-top: 0.75rem;}
	.sec02BR{ display: none;}
	/* surB2_Img */
	.surImg01{
		width: auto;
		position: relative; bottom: 0; right: 0;
		margin-top: 30%; margin-left: auto; margin-right: auto;
	}
	
	
	/* sec_04 */
	.sec_04 .container{ height: auto; padding-bottom: 0.7rem;}
	.sec_04 h2{ margin-top: 0.8rem;}
	.sec_04 .txtBox{ padding-left: 0;}
	.sec04ImgBox{
		width: auto; max-width: 100%;
		position: relative;
		bottom: -0.2rem; left: 0;
	}
	
	
	/* sec_05 */
	.sec_05 .container{ height: auto; padding-bottom: 0.7rem;}
	.sec_05 h2{ margin-top: 0.8rem;}
	.sec_05 .txtBox{ padding-left: 0; width: auto;}
	.sec05ImgBox{
		width: auto; max-width: 500px;
		position: relative;
		bottom: 0; left: 0;
		margin-top: 0.4rem;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	/* m 版錨點 */
	.defaultAnchor_m{
		position: fixed;
		top: 50%;
		right: 0!important;
		text-align: right;
		font-size: 0.32rem; line-height: 1.8;
		letter-spacing: 0.025em;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 999;
	}
	.anchorBoxImg{
		width: 1rem; max-width: 200px;
		cursor: pointer;
		margin: -0.5rem 0 0 auto;
	}
	.defaultAnchor_m ul{
		background-color: rgba(0,0,0,0.6);
		display: none;
		padding: 0.4em 0 0.5rem 0.8em;
	}
	.defaultAnchor_m a{
		color: #aaaaaa;
	}
	.defaultAnchor_m a.active, .defaultAnchor_m a:hover{
		color: #ffffff;
	}
	.defaultAnchor_m li a:after{
		content: '●'; display: inline-block;
		border-radius: 50%;
		margin-left: 0.6em;
		margin-right: 0.8em;
	}
	.defaultAnchor_m li.active a{
		color: #ffffff;
		-webkit-transform: scale(1.02);
		transform: scale(1.02);
	}

    
}
@media screen and (max-width: 640px) {
	.sec_02 .txtBox{ padding-left: 0; width: auto; position: relative; z-index: 99;}
	.sec_02 h2{ margin-top: 0.9rem;}	
	
}
@media screen and (max-width: 585px) {
	.sec03_Box{
		background-repeat: no-repeat;
		background-repeat: no-repeat;
		background-position: center right 58%;
		background-size: auto 100%;
	}
	.surImg01{
		width: 135%;
		margin-left: -17%;
		margin-top: 40%;
	}
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 425px) {
	.sec01_Box{
		background-position: left 25% center;
	}
	.sec_01 .knowMore{ padding-left: 1.5em;}
}


