/* media
----------------------------------------------------------------------------*/
/* 各解析度原始單位 */
@media screen and (max-width: 1160px) {
}
@media screen and (max-width: 1080px) {
    body,html{ font-size: 48px;}
}
@media screen and (max-width: 1040px) {
/*
	footer .container{
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
*/
	.rightBox{ display: block;}
	.rightBox span.txtDot.pc{ display: none;}
	.rightLinks{ -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
}
@media screen and (max-width: 980px) {
	body,html{ font-size: 46px;}
}
@media screen and (max-width: 840px) {
	body,html{ font-size: 44px;}
}
@media screen and (max-width: 768px) {
    body,html{ font-size: 56px;}
    .pc{ display: none;}
    .mobile{ display: block;}
	
	
	.container{ width: calc(100% - 30px); padding-left: 15px; padding-right: 15px;}
	
	/* navBox
	-----------------------------------------------------------------------------*/
	.navBox .container{
		display: block;
		padding-top: 0.45rem;
		padding-bottom: 0.4rem;
	}
	.logoBox{
		width: 2rem;;
		margin-left: 10px;
	}
	.navBtn{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 0.5rem;
		height: 0.4rem;
		position: absolute;
		top: 0.4rem;
		right: 20px;
		cursor: pointer;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.navBtn.open{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.navBtn.open span:before{
		top: calc(50% - 1px);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.navBtn.open span:after{ display: none;}
	.navBtn span{
		display: block;
		width: 100%; height: 2px;
		background-color: #000000;
		position: relative;
	}
	.navBtn span:before, .navBtn span:after{
		content: ''; display: block;
		display: block;
		width: 100%; height: 2px;
		background-color: #000000;
		position: absolute;
		left: 0;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
	.navBtn span:before{ top: -7px;}
	.navBtn span:after{ bottom: -7px;}
	nav{
		display: none;
		position: absolute;
		left: 0; top: 100%;
		width: 100%;
		background-color: #ffffff;
		padding-bottom: 0.4rem;
		-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.25);
		box-shadow: 0 5px 5px rgba(0,0,0,.25);
	}
	nav ul.flexBox{
		font-size: 0.36rem; line-height: 1;
		display: block;
	}
	nav ul li{ width:auto;}
	nav ul.flexBox a{
		margin-left: 0;
		text-align: center;
		width: 5em; margin: auto;
		padding-top: 0.7em;
		margin-bottom: 1em;
	}
	nav ul.flexBox a.goIndex{ width: 0.54rem; margin-bottom: 0;}
	
	
	
	/* footer
	-----------------------------------------------------------*/
	footer{
		font-size: 0.3rem;
		line-height: 1.8;
		text-align: center;
	}
	footer .container{
		display: block;
		padding-top: 0.5rem;
		padding-bottom: 0.6rem;
	}
	.logo_foot{
		width: 1.8rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.3rem;
	}
	.footBR{ display: inherit;}
	.rightLinks{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	/* goTopBtn ----------------------------------------*/
	.goTopBtn{ width: 0.9rem;}
	
	
}
@media screen and (max-width: 700px) {
	/* cookiesAlert ----------------------------------------*/
	.cookiesAlert .container{ display: block;}
	.alreadyKnow{ margin-left: auto; margin-top: 0.2em;}
}
@media screen and (max-width: 640px) {
    body,html{ font-size: 54px;}
}
@media screen and (max-width: 585px) {
    body,html{ font-size: 52px;}   
}
@media screen and (max-width: 480px) {
    body,html{ font-size: 50px;}
}
@media screen and (max-width: 319px) {
    body,html{ font-size: 48px;}
}