@charset "utf-8";


/* index 
----------------------------------------------------------------------------*/

.wrapper{}


a{ display: block;}


/* main
-------------------------------------------------------------*/
.kv{
    background-image: url(../images/page_bg.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 0.24rem auto;
}
.kv .container{ position: relative; z-index: 0;}
.kv .container:before{
    content: ''; display: block;
    width: 100%; height: 4.4rem; background-color: #ffffff;
    position: absolute; bottom: 0; left: 0; z-index: 1;
}
h3{ font-size: 1.2rem; color: #ffffff; margin-left: 0.6rem; padding: 2.1rem 0 1rem 0;}
.kvImg{ max-width: 1540px; margin: auto; z-index: 9; position: relative;}


    /* crumb */
.crumb{}
.crumb .contentBox{ padding-top: 0.4rem; padding-bottom: 1.6rem;}
.crumb ul{ margin-left: 0.6rem;}
.crumb ul li{ font-size: 0.32rem; color: #405eb9;}
.crumb ul li:last-child{ padding-left: 1em;}
.crumb ul li.home a{ padding-left: 0;}
.crumb ul li a{ color: #405eb9; display: inline-block; vertical-align: middle; padding: 0 1em;}
.crumb ul li a:hover{ text-decoration: underline;}
.crumb ul li a img{ width: 0.42rem; background-image: none; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
.crumb ul li a:hover img{
    background-image: url(../images/crumb_home_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.42rem auto;
}

    /* sec_01 */
.sec_01{}
.sec_01 .contentBox{ max-width: 1060px;}
.nameCube{
    font-size: 0.8rem; color: #405eb9; font-weight: bold;
    border: 3px solid #405eb9; position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; width: 28.5%; height: 4.3rem;
    margin-right: 5.7%;
}
.nameCube span{
    display: block; position: absolute; bottom: -6px; right: -7px; line-height: 1; background-color: #ffffff;
    padding-top: 0.1em; padding-left: 0.3em
}

.pageIntro{ font-size: 0.6rem; color: #405eb9; width: 65.8%; vertical-align: middle;}

    /* sec_02 */
.sec_02{}
.sec_02 .contentBox{ padding-top: 2.3rem; padding-bottom: 2.6rem;}
.sksImg{ max-width: 914px; margin: auto;}





